// COLORS
//$color-primary: #7ed56f;
//$color-primary-light: #55c57a;
//$color-primary-dark: #28b485;
//$color-grey-dark: #303030;
//$color-grey-dark-2: #777;
//$color-grey-dark-3: #999;
//$color-grey-light-1: #f7f7f7;
//
//$color-grey-light-2: #eee;
//
//$color-white: #fff;
//$color-black: #000;
//
//$color-secondary-light: #ffb900;
//$color-secondary-dark: #ff7730;
//
//$color-four-light: #4fe271;
//$color-four-dark: #32bd52;
//
//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;
//
//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;
///////////////

$color-grey-dark: #303030;
$color-grey-dark-2: #4e4e4e;

$color-grey-light: #f6f6f6;
$color-grey-light-2: #777;
$color-grey-light-3: #bbbbbb;
$color-grey-light-4: #dadada;


$color-white: #ffffff;

$color-theme-1: #ec7200;
$color-theme-light: #ffa801;
//1e67c1 nice blue

$color-red-1: #ea0001;

$color-black: #000000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontial: 2rem;

// FONT SIZES
$default-font-size: 1.6rem;