.banner{
  position: relative;
  padding: 0.8rem;
  width: 100vw;
  background-color: $color-grey-light;
  &__discount{
    display: inline-block;
    padding: 1rem;
    background-image: linear-gradient(to right, rgba($color-theme-1, 1), rgba($color-theme-light, 0.9));
    color: $color-white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: 1px solid $color-grey-light;
    transform: rotate(-2deg);
  }
  &__text{
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.4rem;
    &-small{
      font-size: 1.1rem;
    }
    &-right{
      float: right;
      padding-right: 2rem;
    }
  }

}
.header{
  position: relative;
  width: 100vw;
  padding: 3rem 2rem 2rem 2rem;
  background-color: white;
  margin-bottom: 2rem;

  &__logo{
    display: inline-block;
    height: 3.5rem;
    width: 18%;
    &-img{
      height: 100%;
    }
  }
  &__search{
    position: relative;
    display: inline-block;
    height: 3.5rem;
    vertical-align: top;
    width: 44%;
    &-input{
      height: 100%;
      width: 100%;
      font-size: 2rem;
      padding: 0 1rem 0 1rem;
    }
    &-button{
      position: absolute;
      right: 0;
      height: 3.5rem;
      padding: 0 1.5rem 0 1.5rem;
      cursor: pointer;
      background-color: $color-grey-dark-2;
      border: none !important;
      &-img{
        padding-top: 0.4rem;
        width: 2rem;
      }
    }
  }
  &__contact{
    display: inline-block;
    height: 3.5rem;
    vertical-align: top;
    width: 12%;
    padding-left: 3.5rem;
    &-text{
      line-height: 1rem;
      display: inline-block;
      font-size: 1.8rem;
      &-small{
        line-height: 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        &:link,
        &:visited {
          color: $color-theme-1 !important;
        }
      }
    }
  }
  &__account{
    display: inline-block;
    height: 3.5rem;
    vertical-align: top;
    width: 15%;
    padding-left: 2rem;

    &-img{
      width: 3.5rem;
      display: inline-block !important;
      margin-right: 0.7rem;
    }
    &-text{
      line-height: 2.2rem;
      vertical-align: top;
      display: inline-block;
      font-size: 1.6rem;
      &-small{
        line-height: 1rem;
        vertical-align: top;
        font-size: 1.3rem;
        font-weight: 600;
        &:link,
        &:visited {
          color: $color-theme-1 !important;
        }
      }
    }
  }
  &__cart{
    text-align: right;
    display: inline-block;
    height: 3.5rem;
    vertical-align: top;
    width: 9%;

    &-img{
      margin-right: 0.5rem;
      width: 3.5rem;
    }
  }

}