.category{
  margin-bottom: 2rem;
  background-color: $color-grey-light;
  padding: 1rem;

  &__header{
    color: $color-grey-dark;
    text-transform: uppercase;
    margin-bottom: 2rem;
    &-border{
      display: block;
      position: absolute;
      width: 5rem;
      height: .5rem;
      background-color: $color-theme-1;
    }
  }
  &__img{
    width: 100%;
  }
}